.about {
  position: relative;
  min-height: 100vh;

  @media (max-width: 900px) {
    margin-top: 100px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: auto;

    .column {
      width: 50%;
      flex: 1 400px;
      max-width: 980px;
      padding: 20px 5%;

      img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: contain;
        margin-bottom: 20px;
        border-radius: 3px;
        margin-right: 20px;
      }

      .fl {
        float: left;

        @media (min-width: 600px) {
          float: left;
          width: auto;
        }
      }

      .fr {
        float: left;

        @media (min-width: 600px) {
          float: right;
          margin-left: 20px;
          width: auto;
        }
      }
    }
  }

  // .outer-container {
  //   display: flex;
  //   padding: 20px;
  //   // height: 600px;

  //   .image {
  //     max-height: 400px;
  //     border: 1px solid red;
  //   }

  //   .about-content {
  //     max-width: 50%;
  //     border: 1px solid red;
  //   }

  // img {
  //   max-height: 100%;
  // }
  // }

  // .about-container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   min-width: 100vh;
  //   // .about-content {
  //   //   display: flex;
  //   //   flex-wrap: wrap;
  //   //   justify-content: center;

  //   .container {
  //     height: 300px;
  //     width:450px;
  //     // max-height: 300px;
  //     // max-width: 480px;
  //     margin: 10px;

  //     img {
  //       // max-width: 100%;
  //       max-height: 100%;
  //     }
  //   }
  // }

  p {
    margin: 40px;
    font-size: 20px;
  }

  h1 {
    padding: 40px;
  }

  .container {
    position: relative;
    margin: 10px;
    /* width: 50%; */
  }

  // .image {
  //   /* display: block; */
  //   width: 100%;
  //   height: auto;
  // }

  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;

  //   height: 100%;
  //   width: 100%;
  //   opacity: 0;
  //   transition: 0.5s ease;
  //   background-color: #25272c;
  //   cursor: pointer;
  // }

  // .overlay.show {
  //   opacity: 1;
  // }

  // .text {
  //   color: white;
  //   font-size: 20px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   -ms-transform: translate(-50%, -50%);
  //   text-align: center;
  // }
}
