.footer {
  max-height: 140px;
  height: 100%;
  vertical-align: middle;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  background: #1f1f1f;

  .footer-item-ctr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    min-height: 60px;
  }

  .navigation {
    justify-content: space-around;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // max-width: 300px;
    padding-bottom: 10px;

    @media only screen and (max-width: 600px) {
      max-width: 200px;
    }
  }
  .navigation .nav-item {
    color: white;

    @media only screen and (max-width: 600px) {
      flex: 1 30%;
    }
  }

  .copyright {
    color: white;
    font-size: 12px;
    font-weight: 200;
    vertical-align: middle;
    align-self: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 14px;
    margin: 10px;
  }
}
