.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-ctr-ctr {
    width: 100%;
    max-width: 800px;
  }

  .hero-container {
    max-width: 300px;
    margin-left: auto;
    color: white;
    @media screen and (max-width: 540px) {
      margin: auto;
    }

    u {
      color: $orange;
    }

    button {
      border-radius: 20px;
      //use the variable here.
      background-color: #eb5e28;
      padding: 15px;
      border: none;
      color: white;
      text-align: center;
      vertical-align: middle;
      width: 150px;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 10px;
    }
  }
}
