.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: center;


  @media (min-width: 900px) {
    .navWide {
      display: block;
    }

    .navNarrow {
      display: none;
    }
  }

  @media (max-width: 900px) {
    .navWide {
      display: none;
    }

    .navNarrow {
      display: block;
    }
  }

  .fa-bars {
    padding: 30px;
  }

  .navNarrow {
    i {
      align-self: flex-end;
    }

    .navNarrow-ctr {
      display: flex;
      flex-direction: column;
    }

    .narrowLinks {
      display: none;
      .narrowLinks-ctr {

         display: flex;
         flex-direction: column;
         justify-content: space-around;
        // justify-content: space-around;
        // max-width: 200px;
        
      }

      a {
        display: block;
        float: left;
        clear: left;
        margin-left: auto;
      }






    }
  }

  .nav-item {
    color: #3e3e3c;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
    font-family: "Montserrat", "Arial", sans-serif;
    flex-wrap: wrap;
    padding: 6px;
    // @media only screen and (max-width: 600px) {
    //   flex: 1 30%;
    //   display: none;
    // }

  }

  .active {
    border-bottom: 1px solid $orange;
  }

  .cart-btn {
    i {
      position: relative;
      font-size: 1.3em;
    }
    span {
      position: absolute;
      background-color: $orange;
      border-radius: 100%;
      padding: 4px;
      color: white;
      font-size: 12px;
      width: 24px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      bottom: -20px;
      right: -16px;
    }
  }
}
