.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  @media only screen and (max-width: 600px) {
    max-width: 200px;
  }

  .fa-bars {
    padding: 30px;
  }

  .nav-item {
    color: #3e3e3c;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
    font-family: "Montserrat", "Arial", sans-serif;
    flex-wrap: wrap;
    padding: 6px;
    @media only screen and (max-width: 600px) {
      flex: 1 30%;
    }
  }

  .cart-btn {
    i {
      position: relative;
      font-size: 1.3em;
    }
    span {
      position: absolute;
      background-color: $orange;
      border-radius: 100%;
      padding: 4px;
      color: white;
      font-size: 12px;
      width: 24px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      bottom: -20px;
      right: -16px;
    }
  }
}
