.store {
  background: $dark-bg;
  height: 80vh;
  display: flex;

  .product-container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .product {
    position: relative;
    display: flex;
    flex-direction: row;
    background: white;
    max-height: 300px;
    max-width: 600px;
    padding: 20px;
    border-radius: 2px;
    margin: 20px;
    flex-wrap: wrap;

    @media screen and (max-width: 1000px) {
      margin: 20px;
    }

    @media screen and (max-width: 740px) {
      max-width: 90%;
      max-height: 550px;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: 464px) {
      flex-direction: column;
      max-height: 550px;
      width: 100%;
      align-items: center;
    }

    .price {
      position: absolute;
      bottom: -10px;
      right: -15px;
      background: $orange;
      color: white;
      border-radius: 100%;
      font-weight: 700;
      font-size: 24px;
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image-title {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 10px;
      max-width: 200px;
      max-height: 250px;
      img {
        max-width: 200px;
        max-height: 250px;
      }
      .title {
        background: $orange;
        color: white;
        padding: 10px;
        position: absolute;
        bottom: -10px;
        left: -10px;
        font-weight: bold;
        font-size: 24px;
      }
    }

    .wording {
      display: flex;
      flex-direction: column;
      margin: 10px;
      max-width: 200px;
      @media screen and (max-width: 464px) {
        display: none;
      }

      p {
        margin: 10px;
        @media screen and (max-width: 464px) {
          margin-top: 30px;
        }
      }
    }

    .action-buttons-ctr {
      display: flex;
      flex-direction: column;
      margin: 10px;
      max-width: 200px;
      background: none;
      font-weight: bold;
      @media screen and (max-width: 464px) {
        background: white;
      }
      button {
        background: none;
        border: 1px #5e5e5e solid;
        padding: 6px;
        cursor: pointer;
        margin: 2px;
      }

      select {
        background: none;
        border: 1px #5e5e5e solid;
        padding: 6px;
        cursor: pointer;
        margin: 2px;
        text-align-last: center;
        overflow: hidden;
      }
    }
  }
}
