body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  box-sizing: border-box;
}

#root {
  background: #fffcf5;
}

.notification {
  &-error {
    background-color: red;
  }
  &-success {
  }
  &-warning {
  }
}

$orange: #eb5e28;
$dark-bg: #3e3e3c;

@import "./styles/header";
@import "./landing-page";
@import "./styles/store";
@import "./styles/navigation";
@import "./styles/checkout";
@import "./styles/_hero.scss";
@import "./styles/_confirm.scss";
@import "./styles/footer.scss";
@import "./styles/_about.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
