@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  box-sizing: border-box; }

#root {
  background: #fffcf5; }

.notification {
  background-color: green; }
  .notification-error {
    background-color: red;
    color: white; }
  .notification-success {
    background-color: green;
    color: white;
    padding: 6px;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
    opacity: 0;
    animation-duration: 2000ms;
    animation-name: opacityOnAndOff; }

@keyframes opacityOnAndOff {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .notification-none {
    display: none; }

.header {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #fffcf5; }
  @media (max-width: 900px) {
    .header {
      top: 0px;
      position: fixed;
      z-index: 1; } }
  .header .header-right {
    display: flex;
    justify-content: space-around;
    z-index: 2; }
    .header .header-right .mob-profile {
      display: flex;
      justify-content: center; }
      @media (min-width: 900px) {
        .header .header-right .mob-profile {
          display: none; } }
      .header .header-right .mob-profile i {
        margin-top: 32px;
        font-size: 2em;
        color: #3e3e3c;
        margin-right: 20px; }
    .header .header-right .mob-cart {
      display: flex;
      justify-content: center; }
      @media (min-width: 900px) {
        .header .header-right .mob-cart {
          display: none; } }
      .header .header-right .mob-cart .cart-btn {
        margin-top: 32px; }
        .header .header-right .mob-cart .cart-btn i {
          position: relative;
          font-size: 2em;
          color: #3e3e3c; }
        .header .header-right .mob-cart .cart-btn span {
          position: absolute;
          background-color: #eb5e28;
          border-radius: 100%;
          padding: 4px;
          color: white;
          font-size: 12px;
          width: 27px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          bottom: -20px;
          right: -16px; }
  .header .logo-and-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .header .logo-and-details .profile-options {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .header .logo-and-details .profile-options .profile-item {
        color: #3e3e3c;
        margin: 2px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.85em;
        font-family: "Montserrat", "Arial", sans-serif;
        flex-wrap: wrap;
        padding: 6px; }
  .header .navigation {
    right: 10px;
    top: 20px; }
  .header img {
    max-width: 140px;
    padding: 10px; }

.landing-page {
  position: relative; }
  @media (max-width: 900px) {
    .landing-page {
      margin-top: 100px; } }

.store {
  background: #3e3e3c;
  min-height: 100vh; }
  @media (max-width: 900px) {
    .store {
      margin-top: 100px; } }
  .store .product-container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
  .store .product {
    position: relative;
    display: flex;
    flex-direction: row;
    background: white;
    max-height: 350px;
    max-width: 600px;
    padding: 20px;
    border-radius: 2px;
    margin: 20px;
    flex-wrap: wrap; }
    @media screen and (max-width: 1000px) {
      .store .product {
        margin: 20px; } }
    @media screen and (max-width: 740px) {
      .store .product {
        max-width: 90%;
        max-height: 550px;
        align-items: center;
        justify-content: center; } }
    @media screen and (max-width: 464px) {
      .store .product {
        flex-direction: column;
        max-height: 550px;
        width: 100%;
        align-items: center; } }
    .store .product .price {
      position: absolute;
      bottom: -10px;
      right: -20px;
      background: #eb5e28;
      color: white;
      border-radius: 100%;
      font-weight: 700;
      font-size: 24px;
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .store .product .image-title {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 10px;
      max-width: 210px;
      max-height: 300px;
      border: 8px black solid; }
      .store .product .image-title img {
        max-width: 200px;
        max-height: 250px; }
      .store .product .image-title .title {
        background: #eb5e28;
        color: white;
        padding: 10px;
        position: absolute;
        bottom: -10px;
        left: -10px;
        font-weight: bold;
        font-size: 24px; }
    .store .product .wording {
      display: flex;
      flex-direction: column;
      margin: 10px;
      max-width: 200px; }
      @media screen and (max-width: 464px) {
        .store .product .wording {
          display: none; } }
      .store .product .wording p {
        margin: 10px; }
        @media screen and (max-width: 464px) {
          .store .product .wording p {
            margin-top: 30px; } }
    .store .product .action-buttons-ctr {
      display: flex;
      flex-direction: column;
      margin: 10px;
      max-width: 200px;
      background: none;
      font-weight: bold; }
      @media screen and (max-width: 464px) {
        .store .product .action-buttons-ctr {
          background: white; } }
      .store .product .action-buttons-ctr button {
        color: white;
        background: black;
        border: 1px #5e5e5e solid;
        padding: 6px;
        cursor: pointer;
        margin: 2px;
        height: 40px;
        font-weight: bold; }
      .store .product .action-buttons-ctr select {
        background: none;
        border: 1px #5e5e5e solid;
        padding: 6px;
        cursor: pointer;
        margin: 2px;
        text-align-last: center;
        overflow: hidden; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: center; }
  @media (min-width: 900px) {
    .navigation .navWide {
      display: block; }
    .navigation .navNarrow {
      display: none; } }
  @media (max-width: 900px) {
    .navigation .navWide {
      display: none; }
    .navigation .navNarrow {
      display: block; } }
  .navigation .fa-bars {
    padding: 30px; }
  .navigation .navNarrow i {
    align-self: flex-end; }
  .navigation .navNarrow .navNarrow-ctr {
    display: flex;
    flex-direction: column; }
  .navigation .navNarrow .narrowLinks {
    display: none; }
    .navigation .navNarrow .narrowLinks .narrowLinks-ctr {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .navigation .navNarrow .narrowLinks a {
      display: block;
      float: left;
      clear: left;
      margin-left: auto; }
  .navigation .nav-item {
    color: #3e3e3c;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
    font-family: "Montserrat", "Arial", sans-serif;
    flex-wrap: wrap;
    padding: 6px; }
  .navigation .active {
    border-bottom: 1px solid #eb5e28; }
  .navigation .cart-btn i {
    position: relative;
    font-size: 1.3em; }
  .navigation .cart-btn span {
    position: absolute;
    background-color: #eb5e28;
    border-radius: 100%;
    padding: 4px;
    color: white;
    font-size: 12px;
    width: 24px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    bottom: -20px;
    right: -16px; }

/* Include CSS Normalize */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.checkout {
  display: flex;
  justify-content: center;
  padding: 30px;
  background: #3e3e3c; }

table {
  border-radius: 3px;
  border-collapse: collapse;
  width: 100%;
  float: left;
  margin: 0 0 2em;
  max-width: 1000px;
  font-weight: bold;
  background-color: white; }
  table thead {
    border-bottom: 3px solid #eb5e28; }
    table thead th {
      padding: 0.35em 0 0.35em;
      font-weight: bold;
      text-align: left;
      font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
      font-size: 1.25em; }
  table tbody {
    border-bottom: 3px solid #eb5e28; }
    table tbody tr {
      border-bottom: 2px solid #ddd; }
      table tbody tr td {
        padding: 0.75em 0; }
        table tbody tr td .quantity-btns {
          border-radius: 100%;
          padding: 4px;
          margin: 4px;
          width: 25px;
          height: 25px;
          background: #eb5e28;
          color: white;
          border: none;
          font-weight: bold; }
        table tbody tr td .img-title-weight-ctr {
          display: flex;
          flex-direction: row; }
          @media screen and (max-width: 400px) {
            table tbody tr td .img-title-weight-ctr {
              flex-direction: column; } }
          table tbody tr td .img-title-weight-ctr img {
            max-width: 140px;
            max-height: 140px;
            margin-right: 5px;
            border-radius: 3px; }
            @media screen and (max-width: 400px) {
              table tbody tr td .img-title-weight-ctr img {
                max-width: 100px; } }
        table tbody tr td .title-weight {
          display: flex;
          flex-direction: column;
          justify-content: center; }
        table tbody tr td a {
          color: #eb5e28;
          text-decoration: none;
          display: inline-block;
          margin: 0 0.5em 0 0; }
          table tbody tr td a:hover, table tbody tr td a:active, table tbody tr td a:focus {
            color: #cd4713;
            border: none; }
  table tfoot td {
    padding: 0.35em 0 0.35em;
    text-align: left;
    font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
    font-size: 1.25em; }
    table tfoot td button {
      border-radius: 20px;
      background-color: #eb5e28;
      padding: 15px;
      border: none;
      color: white;
      text-align: center;
      vertical-align: middle;
      width: 150px;
      font-weight: bold;
      letter-spacing: 1px;
      text-decoration: none;
      font-size: 14px; }

@media screen and (min-width: 1000px) {
  table {
    width: 100%; }
    table thead {
      border-bottom: 3px solid #eb5e28; }
    table tbody tr {
      border-bottom: 1px solid #ddd; } }

#rwd-table {
  display: block; }
  #rwd-table tbody {
    border: none; }
  #rwd-table tbody,
  #rwd-table th,
  #rwd-table td,
  #rwd-table tr,
  #rwd-table tfoot {
    display: block; }
  #rwd-table thead {
    display: none; }
  
  #rwd-table tr {
    float: left;
    width: 100%;
    margin: 0 0 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px 0px #ddd;
    border-radius: 4px;
    border-top: 5px solid #eb5e28; }
    #rwd-table tr td {
      padding: 0.5em 0.5em 0.5em 50%;
      float: left;
      width: 100%; }
      #rwd-table tr td:before {
        width: 100%;
        display: block;
        float: left;
        padding: 0.5em 0.5em 0.5em 0;
        clear: both;
        margin: -0.5em 0 0 -100%;
        font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
        font-size: 1.125em; }
  @media screen and (min-width: 600px) {
    #rwd-table {
      display: table;
      border: none; }
      #rwd-table tbody {
        border-bottom: 3px solid #eb5e28; }
      
      #rwd-table th,
      #rwd-table td {
        display: table-cell; }
      
      #rwd-table tr {
        display: table-row;
        border: none;
        border-bottom: 1px solid #eee;
        float: none;
        margin: 0;
        box-shadow: none; }
        #rwd-table tr td {
          padding: 0.75em 0 0.75em 0.25em;
          float: none;
          width: auto; }
          #rwd-table tr td:before {
            padding: 0 !important; }
      #rwd-table thead {
        display: table-header-group; }
      #rwd-table tbody,
      #rwd-table tfoot {
        display: table-row-group; }
      #rwd-table tr:nth-of-type(even) {
        background: none; } }

#rwd-table tbody tr td:nth-of-type(1):before {
  content: "Details"; }

@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(1):before {
    content: ""; } }

#rwd-table tbody tr td:nth-of-type(2):before {
  content: "Quantity"; }

@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(2):before {
    content: ""; } }

#rwd-table tbody tr td:nth-of-type(3):before {
  content: "Price"; }

@media screen and (min-width: 600px) {
  #rwd-table tbody tr td:nth-of-type(3):before {
    content: ""; } }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100.75px - 60px); }
  .hero .hero-ctr-ctr {
    width: 100%;
    max-width: 800px; }
  .hero .hero-container {
    max-width: 300px;
    margin-left: auto;
    color: white; }
    @media screen and (max-width: 540px) {
      .hero .hero-container {
        margin: auto; } }
    .hero .hero-container b {
      color: #eb5e28; }
    .hero .hero-container button {
      border-radius: 20px;
      background-color: #eb5e28;
      padding: 15px;
      border: none;
      color: white;
      text-align: center;
      vertical-align: middle;
      width: 150px;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 10px;
      cursor: pointer; }

.content {
  padding: 60px;
  font-family: "Roboto", sans-serif;
  background-color: #3e3e3c;
  height: 100%; }
  .content .card {
    margin: auto;
    max-width: 600px;
    background-color: white; }
    .content .card .confirm-title {
      display: flex;
      justify-content: space-between;
      border-bottom: gray 1px solid;
      padding: 20px;
      font-weight: 450; }
    .content .card .card-main-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 10px;
      max-width: 600px;
      margin: auto; }
      .content .card .card-main-container .product-overview {
        position: relative;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid lightgrey;
        height: 200px;
        width: 200px;
        margin: 10px;
        background: linear-gradient(to bottom, #eb5e28 30%, white 0%); }
        .content .card .card-main-container .product-overview .row-one {
          padding: 15px; }
          .content .card .card-main-container .product-overview .row-one img {
            height: 60px;
            width: 60px;
            border-radius: 3px; }
        .content .card .card-main-container .product-overview .row-two {
          padding: 4px;
          font-weight: bold; }
          .content .card .card-main-container .product-overview .row-two .brand {
            color: lightgrey; }
        .content .card .card-main-container .product-overview .row-three {
          position: absolute;
          bottom: 10px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 8px;
          font-weight: bold; }
          .content .card .card-main-container .product-overview .row-three .money {
            color: green; }
      .content .card .card-main-container .payment-form {
        min-height: 200px;
        height: 100%;
        width: 300px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .content .card .card-main-container .payment-form input {
          height: 35px;
          border-radius: 2px;
          border: 1.5px solid lightgray; }
        .content .card .card-main-container .payment-form .pf-first-row {
          display: flex;
          width: 100%;
          font-size: 12px;
          font-weight: 450;
          color: gray;
          justify-content: space-between;
          flex-wrap: wrap; }
          .content .card .card-main-container .payment-form .pf-first-row .name-ctr {
            display: flex;
            flex-direction: column;
            max-width: 200px; }
          .content .card .card-main-container .payment-form .pf-first-row .postal-code-ctr {
            display: flex;
            flex-direction: column;
            max-width: 100px; }
        .content .card .card-main-container .payment-form .pf-second-row {
          width: 100%;
          font-size: 12px;
          font-weight: 450;
          color: gray; }
          .content .card .card-main-container .payment-form .pf-second-row .card-number-ctr {
            display: flex;
            flex-direction: column; }
        .content .card .card-main-container .payment-form .pf-third-row {
          display: flex;
          justify-content: space-between;
          width: 100%;
          flex-wrap: wrap;
          font-size: 12px;
          font-weight: 450;
          color: gray; }
          .content .card .card-main-container .payment-form .pf-third-row .expiry-ctr {
            display: flex;
            flex-direction: column;
            max-width: 200px; }
            .content .card .card-main-container .payment-form .pf-third-row .expiry-ctr .side-by-side {
              display: flex;
              flex-direction: row;
              justify-content: space-around; }
              .content .card .card-main-container .payment-form .pf-third-row .expiry-ctr .side-by-side input {
                max-width: 70px; }
              .content .card .card-main-container .payment-form .pf-third-row .expiry-ctr .side-by-side .divider {
                margin: 10px; }
          .content .card .card-main-container .payment-form .pf-third-row .cvv-ctr {
            display: flex;
            flex-direction: column;
            max-width: 100px; }
            .content .card .card-main-container .payment-form .pf-third-row .cvv-ctr input {
              max-width: 70px; }
    .content .card .card-footer {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 15px;
      max-width: 600px;
      margin: auto;
      padding-bottom: 30px; }
      .content .card .card-footer .accepted-cards {
        min-height: 35px;
        height: 100%;
        width: 200px;
        border: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; }
        .content .card .card-footer .accepted-cards i {
          font-size: 35px; }
        .content .card .card-footer .accepted-cards i:nth-of-type(odd) {
          color: red; }
        .content .card .card-footer .accepted-cards i:nth-of-type(even) {
          color: blue; }
      .content .card .card-footer .pay-now-btn {
        height: 30px;
        width: 300px; }
        .content .card .card-footer .pay-now-btn button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 35px;
          border-radius: 20px;
          border: none;
          background-color: #eb5e28;
          color: white;
          padding: 10px; }

.footer {
  max-height: 140px;
  height: 100%;
  vertical-align: middle;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  background: #1f1f1f; }
  .footer .footer-item-ctr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    min-height: 60px; }
  .footer .navigation {
    justify-content: space-around;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px; }
    @media only screen and (max-width: 600px) {
      .footer .navigation {
        max-width: 200px; } }
  .footer .navigation .nav-item {
    color: white; }
    @media only screen and (max-width: 600px) {
      .footer .navigation .nav-item {
        flex: 1 30%; } }
  .footer .copyright {
    color: white;
    font-size: 12px;
    font-weight: 200;
    vertical-align: middle;
    align-self: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 14px;
    margin: 10px; }

.about {
  position: relative;
  min-height: 100vh; }
  @media (max-width: 900px) {
    .about {
      margin-top: 100px; } }
  .about .flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: auto; }
    .about .flex-container .column {
      width: 50%;
      flex: 1 400px;
      max-width: 980px;
      padding: 20px 5%; }
      .about .flex-container .column img {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: contain;
        margin-bottom: 20px;
        border-radius: 3px;
        margin-right: 20px; }
      .about .flex-container .column .fl {
        float: left; }
        @media (min-width: 600px) {
          .about .flex-container .column .fl {
            float: left;
            width: auto; } }
      .about .flex-container .column .fr {
        float: left; }
        @media (min-width: 600px) {
          .about .flex-container .column .fr {
            float: right;
            margin-left: 20px;
            width: auto; } }
  .about p {
    margin: 40px;
    font-size: 20px; }
  .about h1 {
    padding: 40px; }
  .about .container {
    position: relative;
    margin: 10px;
    /* width: 50%; */ }
